<!DOCTYPE html>
<html>

	<head>
		<title>积分中心</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="../../css/weui.min.css">
		<link rel="stylesheet" href="../../css/jquery-weui.css">
		<link rel="stylesheet" href="../../css/style.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
	</head>

	<body ontouchstart>
		<div class="invite">
			<div class="invitee">
				<div class="invitationCode">
					<!--自动生成邀请码-->
					<div class="code">
						<p class="theCodeTxt">您专属邀请码</p>
						<p class="theCode">GG123456789</p>
						<p class="prompt">与您平台账号相同</p>
						<span class="circleOne"></span>
						<span class="circleTwo"></span>
					</div>
					<!--邀请规则-->
					<div class="inviteRules">
						<div class="rule">
							<p>邀请规则</p>
							<p>1.每邀请1名好友注册成功，普通会员获得10积分，黄金会员获得15积分。</p>
							<p>2.每人每天邀请上限为50人。</p>
							<p>3.被邀请者参与平台玩法，邀请人可获得积分。</p>
						</div>
					</div>
					<!--邀请链接-->
					<div class="inviteLinks">
						<div class="links">
							<span><img src="../../img/shareTwo.png"/></span>
							<p><a href="">分享链接给好友</a></p>
						</div>
					</div>
				</div>
				<!--已邀请好友-->
				<div class="invitedFriends">
					<p>已邀请的好友</p>
					<div class="table">
						<table border="2">
							<tr>
								<td>Simons</td>
								<td>我的结局是开始</td>
							</tr>
							<tr>
								<td>尼古拉斯赵四</td>
								<td>本杰明刘能</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>