<!DOCTYPE html>
<html>

	<head>
		<title>跳转页...</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="../../css/weui.min.css">
		<link rel="stylesheet" href="../../css/jquery-weui.css">
		<link rel="stylesheet" href="../../css/style.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
	</head>

	<body ontouchstart>
		<header class="wy-header_secondClassify">
			<div class="wy-header-icon-backOne"><span></span></div>
			<div class="wy-header-title">紫赢科技</div>
			<div class="wy-header-icon-right"><a href="../Mall/secondClassify.html"><img src="../../img/fenlei1.png"/></a></div>
		</header>
		<div class="jumpBack">
			<div class="jumpWrap">
				<p class="welcome">欢迎来到紫赢商城，您可以</p>
				<div class="mildle">
					<p class="zhuce"><a href="../login/regist.html"><img src="../../img/zhuce.png"/></a></p>
					<p class="and"><img src="../../img/and.png"/></p>
					<p class="youke"><a href="../Mall/indexOne.html"><img src="../../img/youke.png"/></a></p>
				</div>
				<p class="freeLogin">游客可以在“我的信息”页面自由注册</p>
			</div>
		</div>
		<!--底部导航-->
		<!--<div class="foot-black"></div>-->
		<div class="weui-tabbar">
			<a href="../shopCar/shopcart.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-cart">
				</div>
				<p class="weui-tabbar__label">购物车</p>
			</a>
			<a href="../Mall/indexOne.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-member">
				</div>
				<p class="weui-tabbar__label ">积分商城</p>
			</a>
			<a href="../information/myIformation.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-home">
				</div>
				<p class="weui-tabbar__label">我的信息</p>
			</a>
		</div>
	</body>

</html>