<!DOCTYPE html>
<html>

	<head>
		<title>文章</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="../../css/weui.min.css">
		<link rel="stylesheet" href="../../css/jquery-weui.css">
		<link rel="stylesheet" href="../../css/style.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
	</head>

	<body ontouchstart>
		<header class="wy-header_article">
			<div class="wy-header-icon-back"><span></span></div>
			<div class="wy-header-icon-right">
				<p>公告文章</p>
			</div>
		</header>
		<div class="demos-title"><span>文章标题文章标题文章标题文章标题文章标题</span></div>
		<div class="line"></div>
		<ul class="content">
			<li class="user">Simons源叔</li>
			<li class="years">2017-03-22</li>
			<li class="time">13:47:28</li>
		</ul>
		<div class="weui-loadmore weui-loadmore_line">
			<span class="weui-loadmore__tips">分享文章到朋友圈得积分</span>
		</div>
		<article class="weui-article">
				<section>
					<p>
						<img src="../../img/article1.png" alt="什么鬼">
					</p>
					<p>
						正文 这里是正文 如此如此这般这般正文 这里是正文 如此如此这般这般正文 这里是正文 如此如此这般这般正文 这里是正文 如此如此这般这般正文 这里是正文 如此如此这般这般 正文 这里是正文 如此如此这般这般正文 这里是正文 如此如此这般这般正文 这里是正文 如此如此这般这般正文 这里是正文 如此如此这般这般正文 这里是正文 如此如此这般这般正文 这里是正文 如此如此这般这般正文 这里是正文 如此如此这般这般正文 这里是正文 如此如此这般这般正文 这里是正文 如此如此这般这般正文 这里是正文 如此如此这般这般 正文 这里是正文 如此如此这般这般正文 这里是正文 如此如此这般这般正文 这里是正文 如此如此这般这般正文 这里是正文 如此如此这般这般正文 这里是正文 如此如此这般这般
					</p>
				</section>
				<ul class="read">
					<li>阅读<span>2168</span></li>
					<li>分享<span>400</span></li>
				</ul>
		</article>
		<!--底部导航-->
		<div class="foot-black"></div>
		<div class="weui-tabbar">
			<a href="../shopCar/shopcart.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-cart">
				</div>
				<p class="weui-tabbar__label">购物车</p>
			</a>
			<a href="../Mall/indexOne.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-member">
				</div>
				<p class="weui-tabbar__label ">积分商城</p>
			</a>
			<a href="../information/myIformation.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-home">
				</div>
				<p class="weui-tabbar__label">我的信息</p>
			</a>
		</div>

		<script src="../../js/jquery-2.1.4.js"></script>
		<script src="../../js/fastclick.js"></script>
		<script>
			$(function() {
				FastClick.attach(document.body);
			});
		</script>
		<script src="../../js/jquery-weui.js"></script>
	</body>

</html>