<!DOCTYPE html>
<html>

	<head>
		<title>个人中心</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="../../css/weui.min.css">
		<link rel="stylesheet" href="../../css/jquery-weui.css">
		<link rel="stylesheet" href="../../css/style.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
	</head>

	<body ontouchstart style="background: #f4f4f4;">
		<header class="wy-header_firmOrder">
			<div class="wy-header-icon-back"><span></span></div>
			<div class="wy-header-icon-right">
				<p>找回密码</p>
			</div>
		</header>
		<div class="setProblem">
			<p>设置密码保护问题</p>
		</div>
			<div class="passProtect">
				<div class="thePassQuestion"><label for="name" class="weui-label">问题一</label></div>
				<div class="thePassAnser">
					<input class="weui-input" id="questionOne" type="text" value="我的小学班主任叫什么名字？">
				</div>
				<div class="arrow">
					<img src="../../img/right.png"/>
				</div>
			</div>
			<div class="weui-cell_answer">
				<input type="text" name="" id="" value="" placeholder="请输入您的答案" />
			</div>
			
			<div class="passProtect">
				<div class="thePassQuestion"><label for="name" class="weui-label">问题二</label></div>
				<div class="thePassAnser">
					<input class="weui-input" id="questionTwo" type="text" value="我父亲的名字？">
				</div>
				<div class="arrow">
					<img src="../../img/right.png"/>
				</div>
			</div>
			<div class="weui-cell_answer">
				<input type="text" name="" id="" value="" placeholder="请输入您的答案" />
			</div>
			<!--自定义问题与答案-->
			<div class="customize">
				<div class="customizeOne">
					<p class="customQues">自定义问题三</p>
					<p class="customImg"><img src="../../img/right.png"/></p>
				</div>
				<div class="customAnswer">
					<p class="theQues"><input type="text" name="" id="" value="我拔了几颗智齿？" /></p>
					<p class="theAns"><input type="text" name="" id="" value="" placeholder="请输入您的答案" /></p>
				</div>
			</div>
			<div class="theSubmit">
				<a href="../login/loginPassword.html">找回密码</a>
			</div>
		<!--底部导航-->
		<div class="foot-black"></div>
		<div class="weui-tabbar">
			<a href="../shopCar/shopcart.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-cart">
				</div>
				<p class="weui-tabbar__label">购物车</p>
			</a>
			<a href="../Mall/indexOne.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-member">
				</div>
				<p class="weui-tabbar__label ">积分商城</p>
			</a>
			<a href="../information/myIformation.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-home">
				</div>
				<p class="weui-tabbar__label">我的信息</p>
			</a>
		</div>
		<script src="../../js/jquery-2.1.4.js"></script>
		<script src="../../js/fastclick.js"></script>
		<script>
			$(function() {
				FastClick.attach(document.body);
			});
		</script>
		<script src="../../js/jquery-weui.js"></script>
	</body>

</html>