<!DOCTYPE html>
<html>

	<head>
		<title>商城首页</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="../../css/weui.min.css">
		<link rel="stylesheet" href="../../css/jquery-weui.css">
		<link rel="stylesheet" href="../../css/style.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
	</head>

	<body ontouchstart>

		<header class="wy-header_commentList">
			<div class="wy-header-icon-back"><span></span></div>
			<div class="wy-header-icon-right">
				<p>评论</p>
			</div>
		</header>
		<!--主体-->
		<div class="weui-tab__bd-item">
			<!--评价-->
			<div class="weui-panel__bd">
				<div class="wy-media-box weui-media-box_text">
					<div class="weui-cell nopd weui-cell_access">
						<div class="weui-cell__hd"><img src="../../img/1q.jpg" alt="" style="width:20px;margin-right:5px;display:block"></div>
						<div class="weui-cell__bd weui-cell_primary">
							<p>源叔</p>
						</div>
						<span class="weui-cell__time">2017-02-06</span>
					</div>
					<div class="comment-item-star"><span class="real-star comment-stars-width5"></span></div>
					<p class="weui-media-box__desc">质量很好</p>
					<ul class="weui-uploader__files clear mg-com-img">
						<li class="weui-uploader__file" style="background-image:url(../../img/11.png)"></li>
						<li class="weui-uploader__file" style="background-image:url(../../img/e.png)"></li>
						<li class="weui-uploader__file" style="background-image:url(../../img/22.png)"></li>
					</ul>
				</div>
			</div>
			<div class="weui-panel__bd">
				<div class="wy-media-box weui-media-box_text">
					<div class="weui-cell nopd weui-cell_access">
						<div class="weui-cell__hd"><img src="../../img/1q.jpg" alt="" style="width:20px;margin-right:5px;display:block"></div>
						<div class="weui-cell__bd weui-cell_primary">
							<p>源叔</p>
						</div>
						<span class="weui-cell__time">2017-02-06</span>
					</div>
					<div class="comment-item-star"><span class="real-star comment-stars-width3"></span></div>
					<p class="weui-media-box__desc">质量很好，摔都摔不坏</p>
					<ul class="weui-uploader__files clear mg-com-img">
						<li class="weui-uploader__file" style="background-image:url(../../img/e.png)"></li>
						<li class="weui-uploader__file" style="background-image:url(../../img/44.png)"></li>
						<li class="weui-uploader__file" style="background-image:url(../../img/e.png)"></li>
					</ul>
				</div>
			</div>
			<div class="weui-panel__bd">
				<div class="wy-media-box weui-media-box_text">
					<div class="weui-cell nopd weui-cell_access">
						<div class="weui-cell__hd"><img src="../../img/1q.jpg" alt="" style="width:20px;margin-right:5px;display:block"></div>
						<div class="weui-cell__bd weui-cell_primary">
							<p>源叔</p>
						</div>
						<span class="weui-cell__time">2017-02-06</span>
					</div>
					<div class="comment-item-star"><span class="real-star comment-stars-width3"></span></div>
					<p class="weui-media-box__desc">质量很好，摔都摔不坏</p>
					<ul class="weui-uploader__files clear mg-com-img">
						<li class="weui-uploader__file" style="background-image:url(../../img/e.png)"></li>
						<li class="weui-uploader__file" style="background-image:url(../../img/11.png)"></li>
						<li class="weui-uploader__file" style="background-image:url(../../img/e.png)"></li>
					</ul>
				</div>
			</div>
			<div class="weui-panel__bd">
				<div class="wy-media-box weui-media-box_text">
					<div class="weui-cell nopd weui-cell_access">
						<div class="weui-cell__hd"><img src="../../img/1q.jpg" alt="" style="width:20px;margin-right:5px;display:block"></div>
						<div class="weui-cell__bd weui-cell_primary">
							<p>源叔</p>
						</div>
						<span class="weui-cell__time">2017-02-06</span>
					</div>
					<div class="comment-item-star"><span class="real-star comment-stars-width3"></span></div>
					<p class="weui-media-box__desc">质量很好，摔都摔不坏</p>
					<ul class="weui-uploader__files clear mg-com-img">
						<li class="weui-uploader__file" style="background-image:url(../../img/33.png)" onclick="window.location.reload('gallery.html')"></li>
						<li class="weui-uploader__file" style="background-image:url(../../img/e.png)" onclick="window.location.reload('gallery.html')"></li>
						<li class="weui-uploader__file" style="background-image:url(../../img/44.png)" onclick="window.location.reload('gallery.html')"></li>
					</ul>
				</div>
			</div>
			<div class="weui-panel__bd">
				<div class="wy-media-box weui-media-box_text">
					<div class="weui-cell nopd weui-cell_access">
						<div class="weui-cell__hd"><img src="../../img/1q.jpg" alt="" style="width:20px;margin-right:5px;display:block"></div>
						<div class="weui-cell__bd weui-cell_primary">
							<p>源叔</p>
						</div>
						<span class="weui-cell__time">2017-02-06</span>
					</div>
					<div class="comment-item-star"><span class="real-star comment-stars-width3"></span></div>
					<p class="weui-media-box__desc">质量很好，摔都摔不坏</p>
					<ul class="weui-uploader__files clear mg-com-img">
						<li class="weui-uploader__file" style="background-image:url(../../img/e.png)"></li>
						<li class="weui-uploader__file" style="background-image:url(../../img/22.png)"></li>
						<li class="weui-uploader__file" style="background-image:url(../../img/e.png)"></li>
					</ul>
				</div>
			</div>
			<a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link list-more" style="margin-top: -10px;">
				<div class="weui-cell__bd">查看更多</div>
				<span class="weui-cell__ft"></span>
			</a>
		</div>

		<!--底部导航-->
		<div class="foot-black"></div>
		<div class="weui-tabbar">
			<a href="../shopCar/shopcart.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-cart">
				</div>
				<p class="weui-tabbar__label">购物车</p>
			</a>
			<a href="../Mall/indexOne.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-member">
				</div>
				<p class="weui-tabbar__label ">积分商城</p>
			</a>
			<a href="../information/myIformation.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-home">
				</div>
				<p class="weui-tabbar__label">我的信息</p>
			</a>
		</div>

		<script src="../../js/jquery-2.1.4.js"></script>
		<script src="../../js/fastclick.js"></script>
		<script>
			$(function() {
				FastClick.attach(document.body);
			});
		</script>
		<script src="../../js/jquery-weui.js"></script>
	</body>

</html>