<!DOCTYPE html>
<html>

	<head>
		<title>商城首页</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="../../css/weui.min.css">
		<link rel="stylesheet" href="../../css/jquery-weui.css">
		<link rel="stylesheet" href="../../css/style.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
	</head>

	<body ontouchstart style="background: #f4f4f4;">
		<header class="wy-header_firmOrder">
			<div class="wy-header-icon-back"><span></span></div>
			<div class="wy-header-icon-right">
				<p>确认订单</p>
			</div>
		</header>
		<div class="wy-media-box weui-media-box_text address-select">
			<div class="weui-media-box_appmsg">
				<div class="weui-media-box__hd proinfo-txt-l" style="width:20px;"><span class="promotion-label-tit"><img src="../../img/icon_nav_city.png" /></span></div>
				<div class="weui-media-box__bd">
					<a href="address_list.html" class="weui-cell_access">
						<h4 class="address-name"><span>Simons源叔</span><span>13854652512</span></h4>
						<div class="address-txt">江苏省南京市XX区XXX街道XXX小区XXX栋X0X室</div>
						<span class="default-add">默认地址</span>
					</a>
				</div>
				<div class="weui-media-box__hd proinfo-txt-l" style="width:16px;">
					<div class="weui-cell_access"><span class="weui-cell__ft"></span></div>
				</div>
			</div>
		</div>

		<div class="wy-media-box weui-media-box_text">
			<div class="weui-media-box__bd">
				<div class="weui-media-box_appmsg ord-pro-list">
					<div class="weui-media-box__hd">
						<a href="pro_info.html"><img class="weui-media-box__thumb" src="../../img/e.png" alt=""></a>
					</div>
					<div class="weui-media-box__bd">
						<h1 class="weui-media-box__desc"><a href="pro_info.html" class="ord-pro-link">日本制造 和风侘寂茶碗</a></h1>
						<div class="clear mg-t-10">
							<div class="wy-pro-pri fl">¥<em class="num font-15">296.00</em></div>
							<div class="pro-amount fr"><span class="font-13">数量×<em class="name">1</em></span></div>
						</div>
					</div>
				</div>
				<div class="weui-media-box_appmsg ord-pro-list">
					<div class="weui-media-box__hd">
						<a href="pro_info.html"><img class="weui-media-box__thumb" src="../../img/e.png" alt=""></a>
					</div>
					<div class="weui-media-box__bd">
						<h1 class="weui-media-box__desc"><a href="pro_info.html" class="ord-pro-link">日本制造 和风侘寂茶碗</a></h1>
						<div class="clear mg-t-10">
							<div class="wy-pro-pri fl">¥<em class="num font-15">296.00</em></div>
							<div class="pro-amount fr"><span class="font-13">数量×<em class="name">2</em></span></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="wy-media-box weui-media-box_text">
			<div class="weui-media-box__bd">
				<p class="weui-media-one">运费</p>
				<p class="weui-media-two">满88包邮 </p>
				<p class="weui-media-three">￥00.00</p>
			</div>
		</div>
		<div class="foot-black"></div>
		<div class="weui-tabbar wy-foot-menu">
			<div class="weui-tabbar__item weui-footer-shopChar  npd">
				<p class="cart-total-txt" style="margin-top: 8px;">实付：
					<i>￥</i><em class="num font-16" id="zong1">296.00</em>&nbsp;&nbsp;&nbsp;<i>积分：29600</i>
				</p>
			</div>
			<a href="../information/confirmPayment.html" class="blue-color npd w-90 t-c weui-footer-balance">
				<p class="promotion-foot-menu-label" style="margin-top: 8px;">立即下单</p>
			</a>
		</div>
	</body>

</html>