<!DOCTYPE html>
<html>

	<head>
		<title>订单详情</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="../../css/weui.min.css">
		<link rel="stylesheet" href="../../css/jquery-weui.css">
		<link rel="stylesheet" href="../../css/style.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
	</head>

	<body ontouchstart style="background: #F4F4F4;">
		<!--主体-->
		<header class="wy-header_orderDetail">
			<div class="wy-header-icon-back"><span></span></div>
			<div class="wy-header-icon-right">
				<p>订单详情</p>
			</div>
		</header>
		<div class="weui-text-detail">
			<div class="detailText">
				<p>下单时间：<span>2017-03-14</span><span class="timeTwo">15:13:33</span></p>
				<p>订单编号：<span>12345678901</span></p>
			</div>
			<div class="delete">
				<span><img src="../../img/icon-dele.png"/></span>
			</div>
		</div>
		<!--订单详情-->
		<div class="order-datail">
			<div class="pointsMall">
				<p>积分商城</p>
				<span>已收货</span>
			</div>
		</div>
		<div class="wy-media-box weui-media-box_text">
			<div class="weui-media-box__bd">
				<div class="weui-media-box_appmsg ord-pro-list">
					<div class="weui-media-box__hd">
						<a href="pro_info.html"><img class="weui-media-box__thumb" src="../../img/e.png" alt=""></a>
					</div>
					<div class="particular">
						<p class="particularOne"><span>就是日本制造的一个碗而已</span><span>×<i>1</i></span></p>
						<p class="particularTwo"><span>颜色样式：<em>一珍筆舞</em></span><span>积分：<i>6900</i></span></p>
					</div>
				</div>
				<div class="weui-media-box_appmsg ord-pro-list">
					<div class="weui-media-box__hd">
						<a href="pro_info.html"><img class="weui-media-box__thumb" src="../../img/e.png" alt=""></a>
					</div>
					<div class="particular">
						<p class="particularOne"><span>就是日本制造的一个碗而已</span><span>×<i>1</i></span></p>
						<p class="particularTwo"><span>颜色样式：<em>一珍筆舞</em></span><span>积分：<i>6900</i></span></p>
					</div>
				</div>
				<div class="weui-media-box_appmsg ord-pro-list">
					<div class="weui-media-box__hd">
						<a href="pro_info.html"><img class="weui-media-box__thumb" src="../../img/e.png" alt=""></a>
					</div>
					<div class="particular">
						<p class="particularOne"><span>就是日本制造的一个碗而已</span><span>×<i>1</i></span></p>
						<p class="particularTwo"><span>颜色样式：<em>一珍筆舞</em></span><span>积分：<i>6900</i></span></p>
					</div>
				</div>
			</div>
		</div>
		<div class="signUp">
			<p><span>订单已签收</span><span>快递单号：<i>1234567890123456</i></span></p>
		</div>
		<!--order information-->
		<div class="orderInformation">
			<p>Simons源叔</p>
			<p>江苏省南京市XX区XXX街道XXX小区XXX栋XOX室</p>
			<p>支付方式：积分</p>
			<p>合计积分：<span>20700</span></p>
			<p>运费：￥<span>30.00</span></p>
			<span class="allintegral"><i>实际支付：</i><i>积分：<em>20700</em></i></span>
		</div>
		<!--底部导航-->
		<div class="foot-black"></div>
		<div class="weui-tabbar">
			<a href="shopcart.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-cart">
				</div>
				<p class="weui-tabbar__label">购物车</p>
			</a>
			<a href="../Mall/indexOne.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-member">
				</div>
				<p class="weui-tabbar__label ">积分商城</p>
			</a>
			<a href="../information/myIformation.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-home">
				</div>
				<p class="weui-tabbar__label">我的信息</p>
			</a>
		</div>
	</body>

</html>