<!DOCTYPE html>
<html>

	<head>
		<title>地址管理</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="../../css/weui.min.css">
		<link rel="stylesheet" href="../../css/jquery-weui.css">
		<link rel="stylesheet" href="../../css/style.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
	</head>

	<body ontouchstart>
		<!--主体-->
		<header class="wy-header-add_address">
			<div class="wy-header-icon-back"><span></span></div>
			<div class="wy-header-icon-right">
				<p>个人中心</p>
			</div>
		</header>
		<div class="weui-content">
			<div class="weui-panel address-box">
				<div class="weui-panel__bd">
					<div class="weui-media-box weui-media-box_text address-list-box">
						<input type="checkbox" class="address-edit"></input>
						<h4 class="weui-media-box__title"><span>Simon源叔</span><span>189****3850</span></h4>
						<p class="weui-media-box__desc address-txt">江苏省南京市江宁区秣周东路紫金创业社区4号楼xxx室</p>
						<!--<span class="default-add">默认地址</span>-->
					</div>

				</div>
				<div class="weui-panel__bd">
					<div class="weui-media-box weui-media-box_text address-list-box">
						<input type="checkbox" class="address-edit"></input>
						<h4 class="weui-media-box__title"><span>Simon源叔</span><span>189****3850</span></h4>
						<p class="weui-media-box__desc address-txt">江苏省南京市江宁区秣周东路紫金创业社区4号楼xxx室</p>
					</div>
				</div>
				<div class="weui-panel__bd">
					<div class="weui-media-box weui-media-box_text address-list-box">
						<input type="checkbox" class="address-edit"></input>
						<h4 class="weui-media-box__title"><span>Simon源叔</span><span>189****3850</span></h4>
						<p class="weui-media-box__desc address-txt">江苏省南京市江宁区秣周东路紫金创业社区4号楼xxx室</p>
					</div>
				</div>
				<div class="weui-panel__bd">
					<div class="weui-media-box weui-media-box_text address-list-box">
						<input type="checkbox" class="address-edit"></input>
						<!--<img src="img/address.png" width="20px" height="25px" />&nbsp;&nbsp;&nbsp;-->
						<h4 class="weui-media-box__title"><span>Simon源叔</span><span>189****3850</span></h4>
						<p class="weui-media-box__desc address-txt">江苏省南京市江宁区秣周东路紫金创业社区4号楼xxx室</p>
					</div>
				</div>

			</div>
			<div class="weui-btn-area_button">
				<a class="weui-btn weui-btn_primary" href="JavaScript:;" id="showTooltips">使用该地址</a>
			</div>
		</div>
		<!--底部导航-->
		<div class="foot-black"></div>
		<div class="weui-tabbar">
			<a href="../shopCar/shopcart.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-cart">
				</div>
				<p class="weui-tabbar__label">购物车</p>
			</a>
			<a href="../Mall/indexOne.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-member">
				</div>
				<p class="weui-tabbar__label ">积分商城</p>
			</a>
			<a href="../information/myIformation.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-home">
				</div>
				<p class="weui-tabbar__label">我的信息</p>
			</a>
		</div>
	</body>

</html>