<!DOCTYPE html>
<html>

	<head>
		<title>我的粉丝</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="../../css/weui.min.css">
		<link rel="stylesheet" href="../../css/jquery-weui.css">
		<link rel="stylesheet" href="../../css/style.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
	</head>

	<body ontouchstart style="background: #f4f4f4;">
		<header class="wy-header-manifestApplication">
			<div class="wy-header-icon-back"><span></span></div>
			<div class="wy-header-icon-right">
				<p>我的粉丝</p>
			</div>
		</header>
		<div class="weui-tab">
			<div class="weui-tab__bd">
				<div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
					<div class="weui-culture-fans">
						<div class="weui-fans-barOne">
							<a class="weui-cell_access" href="#">
								<div class="fansName">
									<span class="fansNameL">Sean</span>
									<span class="fansNameR">￥19021.1</span>
								</div>
								<div class="fansNumber">
									<span class="fansNumberL">57人</span>
								</div>
							</a>
						</div>
						<div class="weui-fans-barOne">
							<a class="weui-cell_access" href="#">
								<div class="fansName">
									<span class="fansNameL">莫吉谢广坤</span>
									<span class="fansNameR">￥19021.1</span>
								</div>
								<div class="fansNumber">
									<span class="fansNumberL">57人</span>
								</div>
							</a>
						</div>
						<div class="weui-fans-barOne">
							<a class="weui-cell_access" href="#">
								<div class="fansName">
									<span class="fansNameL">尼古拉斯赵四</span>
									<span class="fansNameR">￥19021.1</span>
								</div>
								<div class="fansNumber">
									<span class="fansNumberL">57人</span>
								</div>
							</a>
						</div>
						<div class="weui-fans-barOne">
							<a class="weui-cell_access" href="#">
								<div class="fansName">
									<span class="fansNameL">本杰明刘能</span>
									<span class="fansNameR">￥19021.1</span>
								</div>
								<div class="fansNumber">
									<span class="fansNumberL">57人</span>
									<!--<span class="weui-cell__fx"></span>-->
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--底部导航-->
		<div class="foot-black"></div>
		<div class="weui-tabbar">
			<a href="../shopCar/shopcart.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-cart">
				</div>
				<p class="weui-tabbar__label">购物车</p>
			</a>
			<a href="../Mall/indexOne.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-member">
				</div>
				<p class="weui-tabbar__label ">积分商城</p>
			</a>
			<a href="../information/myIformation.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-home">
				</div>
				<p class="weui-tabbar__label">我的信息</p>
			</a>
		</div>
		<script src="../../js/jquery-2.1.4.js"></script>
		<script src="../../js/fastclick.js"></script>
		<script>
			$(function() {
				FastClick.attach(document.body);
			});
		</script>
		<script src="../../js/jquery-weui.js"></script>
	</body>
</html>