 <!DOCTYPE html>
<html>

	<head>
		<title>会员中心</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="../../css/weui.min.css">
		<link rel="stylesheet" href="../../css/jquery-weui.css">
		<link rel="stylesheet" href="../../css/style.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
	</head>

	<body ontouchstart>
		<!--主体-->
		<div class='weui-content'>
			<div class="wy-center-top">
				<div class="weui-media-box weui-media-box_appmsg">
					<div class="weui-media-box__hd"><img class="weui-media-box__thumb radius" src="../../img/44.png" alt=""></div>
					<div class="weui-media-box__bd">
						<h4 class="weui-media-box__title user-name"><a href="../login/login.html">登录</a>/<a href="../login/regist.html">注册</a><!--用户名：<span>Simon源叔</span>--></h4>
						<p class="weui-media-box__title user-phone"><!--手机号：<span>158-1236-5478</span>--></p>
					</div>
				</div>
			</div>
			<div class="weui-panel weui-panel_access" style="margin-top: -10px;">
				<div class="weui-panel__hd">
					<a href="myOrder.html" class="weui-cell weui-cell_access center-alloder">
						<div class="weui-cell__bd wy-cell">
							<div class="weui-cell__hd"><img src="../../img/icon9.png" alt="" class="center-list-icon"></div>
							<div class="weui-cell__bd weui-cell_primary">
								<p class="center-list-txt">全部订单</p>
							</div>
						</div>
						<span class="weui-cell__ft"></span>
					</a>
				</div>
				<div class="weui-panel__bd">
					<div class="weui-flex">
						<div class="weui-flex__item">
							<a href="myOrder.html" class="center-ordersModule">
								<div class="imgicon"><img src="../../img/center-icon-order-dfk.png" /></div>
								<div class="name">待付款</div>
							</a>
						</div>
						<div class="weui-flex__item">
							<a href="myOrder.html" class="center-ordersModule">
								<div class="imgicon"><img src="../../img/center-icon-order-dfh.png" /></div>
								<div class="name">待发货</div>
							</a>
						</div>
						<div class="weui-flex__item">
							<a href="myOrder.html" class="center-ordersModule">
								<div class="imgicon"><img src="../../img/center-icon-order-dsh.png" /></div>
								<div class="name">待收货</div>
							</a>
						</div>
						<div class="weui-flex__item">
							<a href="myOrder.html" class="center-ordersModule">
								<div class="imgicon"><img src="../../img/center-icon-order-dpj.png" /></div>
								<div class="name">待评价</div>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="weui-panel weui-panel_access" style="margin-top: -10px;">
				<div class="weui-panel__hd">
					<a href="myburse.html" class="weui-cell weui-cell_access center-alloder">
						<div class="weui-cell__bd wy-cell">
							<div class="weui-cell__hd"><img src="../../img/icon8.png" alt="" class="center-list-icon"></div>
							<div class="weui-cell__bd weui-cell_primary">
								<p class="center-list-txt">昨日收入</p>
								<p class="center-list-money"><span>1394.04</span>元</p>
							</div>
						</div>
						<!--<span class="weui-cell__ft"></span>-->
					</a>
				</div>
				<div class="weui-panel__bd">
					<div class="weui-flex">
						<div class="weui-flex__item">
							<a href="JavaScript:;" class="center-ordersModule">
								<div class="center-money"><em>---<!--1999.01--></em></div>
								<div class="name">积分</div>
							</a>
						</div>
						<div class="weui-flex__item">
							<a href="JavaScript:;" class="center-ordersModule">
								<div class="center-money"><em>---<!--1394.04--></em></div>
								<div class="name">金额</div>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="weui-panel" style="margin-top: 0px;">
				<div class="weui-panel__bd">
					<div class="weui-media-box weui-media-box_small-appmsg">
						<div class="weui-cells">
							<a class="weui-cell weui-cell_access" href="../information/IntegralCenter.html">
								<div class="weui-cell__hd"><img src="../../img/积分中心.png" alt="" class="center-list-icon"></div>
								<div class="weui-cell__bd weui-cell_primary">
									<p class="center-list-txt">积分中心</p>
								</div>
								<span class="weui-cell__ft"></span>
							</a>
							<a class="weui-cell weui-cell_access" href="personal.html">
								<div class="weui-cell__hd"><img src="../../img/icon1.png" alt="" class="center-list-icon"></div>
								<div class="weui-cell__bd weui-cell_primary">
									<p class="center-list-txt">个人中心</p>
								</div>
								<span class="weui-cell__ft"></span>
							</a>
							<a class="weui-cell weui-cell_access" href="fansOne.html">
								<div class="weui-cell__hd"><img src="../../img/icon3.png" alt="" class="center-list-icon"></div>
								<div class="weui-cell__bd weui-cell_primary">
									<p class="center-list-txt">我的粉丝</p>
								</div>
								<span class="weui-cell__ft"></span>
							</a>
							<a class="weui-cell weui-cell_access" href="prepaidTransfer.html">
								<div class="weui-cell__hd"><img src="../../img/icon5.png" alt="" class="center-list-icon"></div>
								<div class="weui-cell__bd weui-cell_primary">
									<p class="center-list-txt">积分转账</p>
								</div>
								<span class="weui-cell__ft"></span>
							</a>
							<a class="weui-cell weui-cell_access" href="integralReport .html">
								<div class="weui-cell__hd"><img src="../../img/icon6.png" alt="" class="center-list-icon"></div>
								<div class="weui-cell__bd weui-cell_primary">
									<p class="center-list-txt">积分报表</p>
								</div>
								<span class="weui-cell__ft"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--底部导航-->
		<div class="foot-black"></div>
		<div class="weui-tabbar">
			<a href="../shopCar/shopcart.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-cart">
				</div>
				<p class="weui-tabbar__label">购物车</p>
			</a>
			<a href="../Mall/indexOne.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-member">
				</div>
				<p class="weui-tabbar__label ">积分商城</p>
			</a>
			<a href="../information/myIformation.html" class="weui-tabbar__item  weui-bar__item--on">
				<div class="weui-tabbar__icon foot-menu-home">
				</div>
				<p class="weui-tabbar__label">我的信息</p>
			</a>
		</div>
		<script src="../../js/jquery-2.1.4.js"></script>
		<script src="../../js/fastclick.js"></script>
		<script>
			$(function() {
				FastClick.attach(document.body);
			});
		</script>
		<script type="text/javascript">
			var link=$(".center-ordersModule");
			var storage=window.localStorage;
	    	
			for(var i=0;i<link.length;i++){
				link[i].index=i;
			}
			link.click(function(){
				
				storage.index=this.index;
//				alert(storage.index);
			})
		</script>
		<script src="../../js/jquery-weui.js"></script>
</html>