<!DOCTYPE html>
<html>

	<head>
		<title>商城首页</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="../../css/weui.min.css">
		<link rel="stylesheet" href="../../css/jquery-weui.css">
		<link rel="stylesheet" href="../../css/style.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
	</head>

	<body ontouchstart>
		<header class="wy-header_article">
			<div class="wy-header-icon-back"><span></span></div>
			<div class="wy-header-icon-right">
				<p>我的订单</p>
			</div>
		</header>
		<div class="weui-tab">
			<div class="weui-navbar">
				<a class="weui-navbar__item weui-bar__item--on " href="#tab1">
					代付款
				</a>
				<a class="weui-navbar__item" href="#tab2">
					待发货
				</a>
				<a class="weui-navbar__item" href="#tab3">
					待收货
				</a>
				<a class="weui-navbar__item" href="#tab4">
					已收货
				</a>
			</div>
			<div class="weui-tab__bd">
				<div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
					<div class="weui-panel weui-panel_access">
						<div class="weui-panel__hd"><span>单号：2132165457654545</span><span class="ord-status-txt-ts fr">待收货</span></div>
						<div class="weui-media-box__bd  pd-10">
							<div class="weui-media-box_appmsg ord-pro-list">
								<div class="weui-media-box__hd">
									<a href="../Mall/detail.html"><img class="weui-media-box__thumb" src="../../img/44.png" alt=""></a>
								</div>
								<div class="weui-media-box__bd">
									<h1 class="weui-media-box__desc"><a href="../Mall/detail.html" class="ord-pro-link">众生相原创潮牌男夏装  文艺休闲舒适透气印花T恤半袖T恤  偷月船</a></h1>
									<p class="weui-media-box__desc">规格：<span>红色</span>，<span>23</span></p>
									<div class="clear mg-t-10">
										<div class="wy-pro-pri fl">¥<em class="num font-15">296.00</em></div>
										<div class="pro-amount fr"><span class="font-13">数量×<em class="name">1</em></span></div>
									</div>
								</div>
							</div>
							<div class="weui-media-box_appmsg ord-pro-list">
								<div class="weui-media-box__hd">
									<a href="../Mall/detail.html"><img class="weui-media-box__thumb" src="../../img/33.png" alt=""></a>
								</div>
								<div class="weui-media-box__bd">
									<h1 class="weui-media-box__desc"><a href="../Mall/detail.html" class="ord-pro-link">众生相原创潮牌男夏装  文艺休闲舒适透气印花T恤半袖T恤  偷月船</a></h1>
									<p class="weui-media-box__desc">规格：<span>红色</span>，<span>23</span></p>
									<div class="clear mg-t-10">
										<div class="wy-pro-pri fl">¥<em class="num font-15">296.00</em></div>
										<div class="pro-amount fr"><span class="font-13">数量×<em class="name">1</em></span></div>
									</div>
								</div>
							</div>
						</div>
						<div class="ord-statistics">
							<span>共<em class="num">2</em>件商品，</span>
							<span class="wy-pro-pri">总金额：¥<em class="num font-15">592.00</em></span>
							<span>(含运费<b>￥0.00</b>)</span>
						</div>
						<div class="weui-panel__ft">
							<div class="weui-cell weui-cell_access weui-cell_link oder-opt-btnbox">
								<a href="javascript:;" class="ords-btn-com receipt">去付款</a>
							</div>
						</div>
					</div>
					<div class="weui-panel weui-panel_access">
						<div class="weui-panel__hd"><span>单号：2132165457654545</span><span class="ord-status-txt-ts fr">待收货</span></div>
						<div class="weui-media-box__bd  pd-10">
							<div class="weui-media-box_appmsg ord-pro-list">
								<div class="weui-media-box__hd">
									<a href="../Mall/detail.html"><img class="weui-media-box__thumb" src="../../img/22.png" alt=""></a>
								</div>
								<div class="weui-media-box__bd">
									<h1 class="weui-media-box__desc"><a href="../Mall/detail.html" class="ord-pro-link">众生相原创潮牌男夏装  文艺休闲舒适透气印花T恤半袖T恤  偷月船</a></h1>
									<p class="weui-media-box__desc">规格：<span>红色</span>，<span>23</span></p>
									<div class="clear mg-t-10">
										<div class="wy-pro-pri fl">¥<em class="num font-15">296.00</em></div>
										<div class="pro-amount fr"><span class="font-13">数量×<em class="name">1</em></span></div>
									</div>
								</div>
							</div>
						</div>
						<div class="ord-statistics">
							<span>共<em class="num">1</em>件商品，</span>
							<span class="wy-pro-pri">总金额：¥<em class="num font-15">296.00</em></span>
							<span>(含运费<b>￥0.00</b>)</span>
						</div>
						<div class="weui-panel__ft">
							<div class="weui-cell weui-cell_access weui-cell_link oder-opt-btnbox">
								<a href="javascript:;" class="ords-btn-com receipt">去付款</a>
							</div>
						</div>
					</div>
				</div>
				<div id="tab2" class="weui-tab__bd-item">
					<div class="weui-panel weui-panel_access">
						<div class="weui-panel__hd"><span>单号：2132165457654545</span><span class="ord-status-txt-ts fr">待发货</span></div>
						<div class="weui-media-box__bd  pd-10">
							<div class="weui-media-box_appmsg ord-pro-list">
								<div class="weui-media-box__hd">
									<a href="../Mall/detail.html"><img class="weui-media-box__thumb" src="../../img/33.png" alt=""></a>
								</div>
								<div class="weui-media-box__bd">
									<h1 class="weui-media-box__desc"><a href="../Mall/detail.html" class="ord-pro-link">众生相原创潮牌男夏装  文艺休闲舒适透气印花T恤半袖T恤  偷月船</a></h1>
									<p class="weui-media-box__desc">规格：<span>红色</span>，<span>23</span></p>
									<div class="clear mg-t-10">
										<div class="wy-pro-pri fl">¥<em class="num font-15">296.00</em></div>
										<div class="pro-amount fr"><span class="font-13">数量×<em class="name">1</em></span></div>
									</div>
								</div>
							</div>
							<div class="weui-media-box_appmsg ord-pro-list">
								<div class="weui-media-box__hd">
									<a href="../Mall/detail.html"><img class="weui-media-box__thumb" src="../../img/44.png" alt=""></a>
								</div>
								<div class="weui-media-box__bd">
									<h1 class="weui-media-box__desc"><a href="../Mall/detail.html" class="ord-pro-link">众生相原创潮牌男夏装  文艺休闲舒适透气印花T恤半袖T恤  偷月船</a></h1>
									<p class="weui-media-box__desc">规格：<span>红色</span>，<span>23</span></p>
									<div class="clear mg-t-10">
										<div class="wy-pro-pri fl">¥<em class="num font-15">296.00</em></div>
										<div class="pro-amount fr"><span class="font-13">数量×<em class="name">1</em></span></div>
									</div>
								</div>
							</div>
						</div>
						<div class="ord-statistics">
							<span>共<em class="num">2</em>件商品，</span>
							<span class="wy-pro-pri">总金额：¥<em class="num font-15">592.00</em></span>
							<span>(含运费<b>￥0.00</b>)</span>
						</div>
						<div class="weui-panel__ft">
							<div class="weui-cell weui-cell_access weui-cell_link oder-opt-btnbox">
								商品正在打包中，请您耐心等待....
							</div>
						</div>
					</div>
					<div class="weui-panel weui-panel_access">
						<div class="weui-panel__hd"><span>单号：2132165457654545</span><span class="ord-status-txt-ts fr">待发货</span></div>
						<div class="weui-media-box__bd  pd-10">
							<div class="weui-media-box_appmsg ord-pro-list">
								<div class="weui-media-box__hd">
									<a href="../Mall/detail.html"><img class="weui-media-box__thumb" src="../../img/22.png" alt=""></a>
								</div>
								<div class="weui-media-box__bd">
									<h1 class="weui-media-box__desc"><a href="../Mall/detail.html" class="ord-pro-link">众生相原创潮牌男夏装  文艺休闲舒适透气印花T恤半袖T恤  偷月船</a></h1>
									<p class="weui-media-box__desc">规格：<span>红色</span>，<span>23</span></p>
									<div class="clear mg-t-10">
										<div class="wy-pro-pri fl">¥<em class="num font-15">296.00</em></div>
										<div class="pro-amount fr"><span class="font-13">数量×<em class="name">1</em></span></div>
									</div>
								</div>
							</div>
						</div>
						<div class="ord-statistics">
							<span>共<em class="num">1</em>件商品，</span>
							<span class="wy-pro-pri">总金额：¥<em class="num font-15">296.00</em></span>
							<span>(含运费<b>￥0.00</b>)</span>
						</div>
						<div class="weui-panel__ft">
							<div class="weui-cell weui-cell_access weui-cell_link oder-opt-btnbox">
								商品正在打包中，请您耐心等待....
							</div>
						</div>
					</div>
					<div class="weui-panel weui-panel_access">
						<div class="weui-panel__hd"><span>单号：2132165457654545</span><span class="ord-status-txt-ts fr">待发货</span></div>
						<div class="weui-media-box__bd  pd-10">
							<div class="weui-media-box_appmsg ord-pro-list">
								<div class="weui-media-box__hd">
									<a href="../Mall/detail.html"><img class="weui-media-box__thumb" src="../../img/11.png" alt=""></a>
								</div>
								<div class="weui-media-box__bd">
									<h1 class="weui-media-box__desc"><a href="../Mall/detail.html" class="ord-pro-link">众生相原创潮牌男夏装  文艺休闲舒适透气印花T恤半袖T恤  偷月船</a></h1>
									<p class="weui-media-box__desc">规格：<span>红色</span>，<span>23</span></p>
									<div class="clear mg-t-10">
										<div class="wy-pro-pri fl">¥<em class="num font-15">296.00</em></div>
										<div class="pro-amount fr"><span class="font-13">数量×<em class="name">1</em></span></div>
									</div>
								</div>
							</div>
						</div>
						<div class="ord-statistics">
							<span>共<em class="num">1</em>件商品，</span>
							<span class="wy-pro-pri">总金额：¥<em class="num font-15">296.00</em></span>
							<span>(含运费<b>￥0.00</b>)</span>
						</div>
						<div class="weui-panel__ft">
							<div class="weui-cell weui-cell_access weui-cell_link oder-opt-btnbox">
								商品正在打包中，请您耐心等待....
							</div>
						</div>
					</div>
				</div>
				<div id="tab3" class="weui-tab__bd-item">
					<div class="weui-panel weui-panel_access">
						<div class="weui-panel__hd"><span>单号：2132165457654545</span><span class="ord-status-txt-ts fr">待收货</span></div>
						<div class="weui-media-box__bd  pd-10">
							<div class="weui-media-box_appmsg ord-pro-list">
								<div class="weui-media-box__hd">
									<a href="../Mall/detail.html"><img class="weui-media-box__thumb" src="../../img/44.png" alt=""></a>
								</div>
								<div class="weui-media-box__bd">
									<h1 class="weui-media-box__desc"><a href="../Mall/detail.html" class="ord-pro-link">众生相原创潮牌男夏装  文艺休闲舒适透气印花T恤半袖T恤  偷月船</a></h1>
									<p class="weui-media-box__desc">规格：<span>红色</span>，<span>23</span></p>
									<div class="clear mg-t-10">
										<div class="wy-pro-pri fl">¥<em class="num font-15">296.00</em></div>
										<div class="pro-amount fr"><span class="font-13">数量×<em class="name">1</em></span></div>
									</div>
								</div>
							</div>
							<div class="weui-media-box_appmsg ord-pro-list">
								<div class="weui-media-box__hd">
									<a href="../Mall/detail.html"><img class="weui-media-box__thumb" src="../../img/33.png" alt=""></a>
								</div>
								<div class="weui-media-box__bd">
									<h1 class="weui-media-box__desc"><a href="../Mall/detail.html" class="ord-pro-link">众生相原创潮牌男夏装  文艺休闲舒适透气印花T恤半袖T恤  偷月船</a></h1>
									<p class="weui-media-box__desc">规格：<span>红色</span>，<span>23</span></p>
									<div class="clear mg-t-10">
										<div class="wy-pro-pri fl">¥<em class="num font-15">296.00</em></div>
										<div class="pro-amount fr"><span class="font-13">数量×<em class="name">1</em></span></div>
									</div>
								</div>
							</div>
						</div>
						<div class="ord-statistics">
							<span>共<em class="num">2</em>件商品，</span>
							<span class="wy-pro-pri">总金额：¥<em class="num font-15">592.00</em></span>
							<span>(含运费<b>￥0.00</b>)</span>
						</div>
						<div class="weui-panel__ft">
							<div class="weui-cell weui-cell_access weui-cell_link oder-opt-btnbox">
								<p class="trackingNumber">快递单号：<a href="">201706271058</a></p>
								<a href="javascript:;" class="ords-btn-com receipt">确认收货</a>
							</div>
						</div>
					</div>
					<div class="weui-panel weui-panel_access">
						<div class="weui-panel__hd"><span>单号：2132165457654545</span><span class="ord-status-txt-ts fr">待收货</span></div>
						<div class="weui-media-box__bd  pd-10">
							<div class="weui-media-box_appmsg ord-pro-list">
								<div class="weui-media-box__hd">
									<a href="../Mall/detail.html"><img class="weui-media-box__thumb" src="../../img/22.png" alt=""></a>
								</div>
								<div class="weui-media-box__bd">
									<h1 class="weui-media-box__desc"><a href="../Mall/detail.html" class="ord-pro-link">众生相原创潮牌男夏装  文艺休闲舒适透气印花T恤半袖T恤  偷月船</a></h1>
									<p class="weui-media-box__desc">规格：<span>红色</span>，<span>23</span></p>
									<div class="clear mg-t-10">
										<div class="wy-pro-pri fl">¥<em class="num font-15">296.00</em></div>
										<div class="pro-amount fr"><span class="font-13">数量×<em class="name">1</em></span></div>
									</div>
								</div>
							</div>
						</div>
						<div class="ord-statistics">
							<span>共<em class="num">1</em>件商品，</span>
							<span class="wy-pro-pri">总金额：¥<em class="num font-15">296.00</em></span>
							<span>(含运费<b>￥0.00</b>)</span>
						</div>
						<div class="weui-panel__ft">
							<div class="weui-cell weui-cell_access weui-cell_link oder-opt-btnbox">
								<p class="trackingNumber">快递单号：<a href="">201706271058</a></p>
								<a href="javascript:;" class="ords-btn-com receipt">确认收货</a>
							</div>
						</div>
					</div>
				</div>
				<div id="tab4" class="weui-tab__bd-item">
					<div class="weui-panel weui-panel_access">
						<div class="weui-panel__hd"><span>单号：2132165457654545</span><span class="ord-status-txt-ts fr">待评价</span></div>
						<div class="weui-media-box__bd  pd-10">
							<div class="weui-media-box_appmsg ord-pro-list">
								<div class="weui-media-box__hd">
									<a href="../Mall/detail.html"><img class="weui-media-box__thumb" src="../../img/11.png" alt=""></a>
								</div>
								<div class="weui-media-box__bd">
									<h1 class="weui-media-box__desc"><a href="../Mall/detail.html" class="ord-pro-link">众生相原创潮牌男夏装  文艺休闲舒适透气印花T恤半袖T恤  偷月船</a></h1>
									<p class="weui-media-box__desc">规格：<span>红色</span>，<span>23</span></p>
									<div class="clear mg-t-10">
										<div class="wy-pro-pri fl">¥<em class="num font-15">296.00</em></div>
										<div class="pro-amount fr"><span class="font-13">数量×<em class="name">1</em></span></div>
									</div>
								</div>
							</div>
							<div class="weui-media-box_appmsg ord-pro-list">
								<div class="weui-media-box__hd">
									<a href="../Mall/detail.html"><img class="weui-media-box__thumb" src="../../img/e.png" alt=""></a>
								</div>
								<div class="weui-media-box__bd">
									<h1 class="weui-media-box__desc"><a href="../Mall/detail.html" class="ord-pro-link">众生相原创潮牌男夏装  文艺休闲舒适透气印花T恤半袖T恤  偷月船</a></h1>
									<p class="weui-media-box__desc">规格：<span>红色</span>，<span>23</span></p>
									<div class="clear mg-t-10">
										<div class="wy-pro-pri fl">¥<em class="num font-15">296.00</em></div>
										<div class="pro-amount fr"><span class="font-13">数量×<em class="name">1</em></span></div>
									</div>
								</div>
							</div>
						</div>
						<div class="ord-statistics">
							<span>共<em class="num">2</em>件商品，</span>
							<span class="wy-pro-pri">总金额：¥<em class="num font-15">592.00</em></span>
							<span>(含运费<b>￥0.00</b>)</span>
						</div>
						<div class="weui-panel__ft">
							<div class="weui-cell weui-cell_access weui-cell_link oder-opt-btnbox">
								<a href="comment.html" class="ords-btn-com">去评价</a>
							</div>
						</div>
					</div>

					<div class="weui-panel weui-panel_access">
						<div class="weui-panel__hd"><span>单号：2132165457654545</span><span class="ord-status-txt-ts fr">待评价</span></div>
						<div class="weui-media-box__bd  pd-10">
							<div class="weui-media-box_appmsg ord-pro-list">
								<div class="weui-media-box__hd">
									<a href="../Mall/detail.html"><img class="weui-media-box__thumb" src="../../img/22.png" alt=""></a>
								</div>
								<div class="weui-media-box__bd">
									<h1 class="weui-media-box__desc"><a href="../Mall/detail.html" class="ord-pro-link">众生相原创潮牌男夏装  文艺休闲舒适透气印花T恤半袖T恤  偷月船</a></h1>
									<p class="weui-media-box__desc">规格：<span>红色</span>，<span>23</span></p>
									<div class="clear mg-t-10">
										<div class="wy-pro-pri fl">¥<em class="num font-15">296.00</em></div>
										<div class="pro-amount fr"><span class="font-13">数量×<em class="name">1</em></span></div>
									</div>
								</div>
							</div>
						</div>
						<div class="ord-statistics">
							<span>共<em class="num">1</em>件商品，</span>
							<span class="wy-pro-pri">总金额：¥<em class="num font-15">296.00</em></span>
							<span>(含运费<b>￥0.00</b>)</span>
						</div>
						<div class="weui-panel__ft">
							<div class="weui-cell weui-cell_access weui-cell_link oder-opt-btnbox">
								<a href="comment.html" class="ords-btn-com">去评价</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--底部导航-->
		<div class="foot-black"></div>
		<div class="weui-tabbar">
			<a href="../shopCar/shopcart.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-cart">
				</div>
				<p class="weui-tabbar__label">购物车</p>
			</a>
			<a href="../Mall/indexOne.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-member">
				</div>
				<p class="weui-tabbar__label ">积分商城</p>
			</a>
			<a href="../information/myIformation.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-home">
				</div>
				<p class="weui-tabbar__label">我的信息</p>
			</a>
		</div>

		<script src="../../js/jquery-2.1.4.js"></script>
		<script src="../../js/fastclick.js"></script>
		<script>
			$(function() {
				FastClick.attach(document.body);
			});
		</script>
		<script type="text/javascript">
			var link=$(".weui-navbar a");
			var storage=window.localStorage;
	    	console.log(link.length);
			for(var i=0;i<link.length;i++){
				link[i].index=i;
			}
			$(function(){
				console.log(storage.index)
				$(link).removeClass(".weui-navbar__item.weui-bar__item--on");
				$(link[storage.index]).addClass(".weui-navbar__item.weui-bar__item--on")
			})
		</script>
		<script src="../../js/jquery-weui.js"></script>
	</body>

</html>