<!DOCTYPE html>
<html>

	<head>
		<title>密码修改</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="../../css/weui.min.css">
		<link rel="stylesheet" href="../../css/jquery-weui.css">
		<link rel="stylesheet" href="../../css/style.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
	</head>

	<body ontouchstart>
		<!--主体-->
		<header class="wy-header_pass">
			<div class="wy-header-icon-back"><span></span></div>
			<div class="wy-header-icon-right">
				<p>密码修改</p>
			</div>
		</header>
		<div class="weui-content" style="margin-top: -18px;">
			<div class="weui-cells cardlist">
				<a class="weui-cell weui-cell_access" href="../login/psd_chage.html">
					<div class="weui-cell__bd">
						<p>登录密码修改</p>
					</div>
					<div class="weui-cell__ft"></div>
				</a>
			</div>
		</div>

	</body>

</html>