<!DOCTYPE html>
<html>

	<head>
		<title>个人中心</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="../../css/weui.min.css">
		<link rel="stylesheet" href="../../css/jquery-weui.css">
		<link rel="stylesheet" href="../../css/style.css">
		<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
	</head>

	<body ontouchstart style="background: #f4f4f4;">
		<header class="wy-header_firmOrder">
			<div class="wy-header-icon-back"><span></span></div>
			<div class="wy-header-icon-right">
				<p>个人中心</p>
			</div>
		</header>
		<div class="weui-panel weui-pannel_perdonal">
			<div class="weui-panel__bd">
				<div class="weui-media-box weui-media-box_small-appmsg">
					<div class="weui-cells">
						<div class="weui-account">
							<p class="weui-account-pOne"><input type="number" name="" id="" value="123456789" disabled="disabled" /></p>
							<p class="weui-account-pTwo"><span>平台分配账户无法更改</span></p>
						</div>
						<a class="weui-cell weui-cell_access" href="nickname.html">
							<div class="weui-cell__bd weui-cell_primary">
								<p class="center-list-txt">用户名</p>
								<p class="center-placeholder"><span>Simons源叔</span></p>
							</div>
							<span class="weui-cell__ft"></span>
						</a>
						<a class="weui-cell weui-cell_access" href="phoneNumber.html">
							<div class="weui-cell__bd weui-cell_primary">
								<p class="center-list-txt">手机号</p>
								<p class="center-placeholder"><span>12399991234</span></p>
							</div>
							<span class="weui-cell__ft"></span>
						</a>
						<a class="weui-cell weui-cell_access" href="password.html">
							<div class="weui-cell__bd weui-cell_primary">
								<p class="center-list-txt">修改密码</p>
							</div>
							<span class="weui-cell__ft"></span>
						</a>
						<a class="weui-cell weui-cell_access" href="../login/payPassWordTwo.html">
							<div class="weui-cell__bd weui-cell_primary">
								<p class="center-list-txt">支付密码</p>
							</div>
							<span class="weui-cell__ft"></span>
						</a>
						<a class="weui-cell weui-cell_access" href="retrievePass.html">
							<div class="weui-cell__bd weui-cell_primary">
								<p class="center-list-txt">设置找回密保问题</p>
							</div>
							<span class="weui-cell__ft"></span>
						</a>
						<a class="weui-cell weui-cell_access" href="../address/address_list.html">
							<div class="weui-cell__bd weui-cell_primary">
								<p class="center-list-txt">修改/添加地址</p>
							</div>
							<span class="weui-cell__ft"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="weui-media-box_text address-select weui-information-person">
			<div class="weui-address-current weui-cell">当前地址</div>
			<div class="weui-media-box_appmsg">
				<div class="weui-media-box__bd">
					<a href="#" class="weui-cell_access">
						<div class="address">
							<h4 class="address-name"><span>Simons源叔</span><span>13854652512</span></h4>
							<p class="address-txt">江苏省南京市江宁区秣周东路紫金创业特别社区4栋111室</p>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!--底部导航-->
		<div class="foot-black"></div>
		<div class="weui-tabbar">
			<a href="../shopCar/shopcart.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-cart">
				</div>
				<p class="weui-tabbar__label">购物车</p>
			</a>
			<a href="../Mall/indexOne.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-member">
				</div>
				<p class="weui-tabbar__label ">积分商城</p>
			</a>
			<a href="../information/myIformation.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon foot-menu-home">
				</div>
				<p class="weui-tabbar__label">我的信息</p>
			</a>
		</div>
		<script src="../../js/jquery-2.1.4.js"></script>
		<script src="../../js/fastclick.js"></script>
		<script>
			$(function() {
				FastClick.attach(document.body);
			});
		</script>
		<script src="../../js/jquery-weui.js"></script>
		<script src="../../js/swiper.js"></script>
	</body>

</html>